use flake

if [ -x /usr/bin/xcode-select ] && [ -x /usr/bin/xcrun ]; then
  export DEVELOPER_DIR="$(env -u DEVELOPER_DIR /usr/bin/xcode-select -p)"
  export SDKROOT="$(env -u SDKROOT -u NIX_CFLAGS_COMPILE -u NIX_LDFLAGS -u DEVELOPER_DIR /usr/bin/xcrun --sdk macosx --show-sdk-path)"
  PATH_add /usr/bin
  PATH_add /bin
  PATH_add /usr/sbin
  PATH_add /sbin
fi
